## Variables to govern the running of the scripts
GITHUB_HANDLE=swill
ENDPOINT=https://portal.cloudmc.io
# ENDPOINT=https://portal.dev.cloudmc.io
GENERATOR_PATH=/opt/homebrew/bin/
# GENERATOR_PATH=/usr/local/bin/